<html>
    <head>
        <title>Social Screen</title>
    </head>
    <body>
        <div data-images></div>

        <script src="/underscore.js"></script>
        <script src="/jquery.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/main.js"></script>
    </body>
</html>
